In [4]:
import numpy as np
import pandas as pd

In [6]:
dataset = pd.read_csv(r'C:\\Users\\folak\\Downloads\\toyota.csv')

In [7]:
dataset

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0
1,GT86,2017,15995,Manual,18615,Petrol,145,36.2,2.0
2,GT86,2015,13998,Manual,27469,Petrol,265,36.2,2.0
3,GT86,2017,18998,Manual,14736,Petrol,150,36.2,2.0
4,GT86,2017,17498,Manual,36284,Petrol,145,36.2,2.0
...,...,...,...,...,...,...,...,...,...
6733,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0
6734,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3
6735,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4
6736,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3
6737,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3

In [8]:
dataset.shape

(6738, 9)

In [13]:
x=dataset [['year','price','mileage']]
x

      year  price  mileage
0     2016  16000    24089
1     2017  15995    18615
2     2015  13998    27469
3     2017  18998    14736
4     2017  17498    36284
...    ...    ...      ...
6733  2011   5500    30000
6734  2011   4985    36154
6735  2012   4995    46000
6736  2011   3995    60700
6737  2011   4495    45128

[6738 rows x 3 columns]

In [15]:
y=dataset['model']
y

0                 GT86
1                 GT86
2                 GT86
3                 GT86
4                 GT86
             ...
6733                IQ
6734     Urban Cruiser
6735     Urban Cruiser
6736     Urban Cruiser
6737     Urban Cruiser
Name: model, Length: 6738, dtype: object

In [18]:
from sklearn.impute import SimpleImputer
from numpy import nan

In [21]:
SimpleImputer('missing_value=nan,strategy'=='mean')

C:\Users\folak\anaconda3\lib\site-packages\sklearn\utils\validation.py:67: FutureWarning: Pass missing_values=False as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

SimpleImputer(missing_values=False)

In [25]:
imputer=SimpleImputer ('missing_values=np.nan)strategy ='mean')

SyntaxError: invalid syntax (<ipython-input-25-913c87100676>, line 1)